In [1]:
import numpy as np
import sys
from copy import deepcopy
import matplotlib.pyplot as plt
import pandas as pd
from functools import partial
sys.path
if not '/Users/mtytgat/code/sandbox/' in sys.path:
    print('Adding Sandbox path')
    sys.path.insert(0, '/Users/mtytgat/code/sandbox/')
sys.path
from klas import StudentGroup, Klas, Plan
from optime import child, Population

Adding Sandbox path

In [2]:
students = StudentGroup('students.csv')

In [3]:
students.required_columns

['name', 'together', 'not_together', 'preferences']

In [4]:
students.properties

['score', 'gender', 'age']

In [5]:
plan = Plan(students, 2)

In [6]:
len(students)

27

In [7]:
plan.do_assignment(flag_prio_prefs=True)

In [8]:
plan.students

,name,score,gender,age,not_together,together,preferences,options,dna_assignment,final_assignment,pref_satisfied
number,,,,,,,,,,,
1,luuk,10,1,6,"(4,)","(2,)","(3, 6, 17)",[1],1,1.0,2.0
2,pat,9,1,7,(),"(1,)","(5, 9, 27)",[1],0,1.0,2.0
3,jos,8,1,6,"(6,)",(),"(2, 1, 21)",[1],0,1.0,2.0
4,pol,7,1,7,"(1,)",(),"(5, 6, 7)",[0],1,0.0,3.0
5,katrien,6,-1,7,(),(),"(6, 7, 23)","[0, 1]",0,0.0,3.0
6,mo,5,1,6,"(3, 8)",(),"(12, 5, 25)",[],1,0.0,3.0
7,tia,6,-1,7,(),"(8,)","(8, 17, 23)",[0.0],0,0.0,2.0
8,karl,7,1,6,"(6,)","(7,)","(9, 27, 14)",[0],1,0.0,0.0
9,siem,8,1,6,(),(),"(10, 18, 19)","[0, 1]",1,1.0,2.0
10,ahmed,8,1,6,(),"(11,)","(12, 5, 25)",[0.0],1,0.0,3.0
11,pius,5,1,7,(),"(10,)","(2, 4, 6)",[0.0],1,0.0,2.0
12,darius,4,1,7,"(20,)",(),"(10, 18, 19)",[0],1,0.0,1.0
13,marius,6,1,7,(),(),"(5, 6, 7)","[0, 1]",0,0.0,3.0
14,mario,9,1,8,(),(),"(1, 3, 5)","[0, 1]",1,1.0,2.0
15,maria,7,-1,7,(),(),"(5, 6, 7)","[0, 1]",0,0.0,3.0
16,marie,8,-1,7,(),(),"(3, 6, 17)","[0, 1]",1,1.0,2.0
17,peter,9,1,7,(),(),"(9, 13, 14)","[0, 1]",1,1.0,2.0
18,pieter,10,1,7,(),(),"(2, 1, 21)","[0, 1]",1,1.0,2.0
19,pier,6,1,7,(),(),"(7, 19, 17)","[0, 1]",1,1.0,2.0
20,pieter,8,1,7,"(12,)",(),"(3, 22, 1)",[1],0,1.0,2.0
21,maarten,6,1,6,(),(),"(3, 6, 17)","[0, 1]",0,0.0,1.0
22,sanne,7,-1,6,(),(),"(4, 8, 9)","[0, 1]",0,0.0,2.0
23,rinus,8,1,7,(),(),"(5, 8, 10)","[0, 1]",1,0.0,3.0
24,karla,4,-1,7,(),(),"(10, 11, 16)","[0, 1]",1,1.0,1.0
25,carla,5,-1,7,(),(),"(6, 7, 23)","[0, 1]",1,0.0,3.0
26,clara,6,-1,7,(),(),"(6, 7, 23)","[0, 1]",1,0.0,3.0
27,klara,7,-1,7,(),(),"(9, 11, 19)","[0, 1]",1,1.0,2.0

In [9]:
plan.improve_preferences()
plan.students

,name,score,gender,age,not_together,together,preferences,options,dna_assignment,final_assignment,pref_satisfied
number,,,,,,,,,,,
1,luuk,10,1,6,"(4,)","(2,)","(3, 6, 17)",[1],1,1.0,2.0
2,pat,9,1,7,(),"(1,)","(5, 9, 27)",[1],0,1.0,1.0
3,jos,8,1,6,"(6,)",(),"(2, 1, 21)",[1],0,1.0,2.0
4,pol,7,1,7,"(1,)",(),"(5, 6, 7)",[0],1,0.0,3.0
5,katrien,6,-1,7,(),(),"(6, 7, 23)","[0, 1]",0,0.0,3.0
6,mo,5,1,6,"(3, 8)",(),"(12, 5, 25)",[],1,0.0,3.0
7,tia,6,-1,7,(),"(8,)","(8, 17, 23)",[0.0],0,0.0,2.0
8,karl,7,1,6,"(6,)","(7,)","(9, 27, 14)",[0],1,0.0,1.0
9,siem,8,1,6,(),(),"(10, 18, 19)","[0, 1]",1,0.0,1.0
10,ahmed,8,1,6,(),"(11,)","(12, 5, 25)",[0.0],1,0.0,3.0
11,pius,5,1,7,(),"(10,)","(2, 4, 6)",[0.0],1,0.0,2.0
12,darius,4,1,7,"(20,)",(),"(10, 18, 19)",[0],1,0.0,1.0
13,marius,6,1,7,(),(),"(5, 6, 7)","[0, 1]",0,0.0,3.0
14,mario,9,1,8,(),(),"(1, 3, 5)","[0, 1]",1,1.0,2.0
15,maria,7,-1,7,(),(),"(5, 6, 7)","[0, 1]",0,0.0,3.0
16,marie,8,-1,7,(),(),"(3, 6, 17)","[0, 1]",1,1.0,2.0
17,peter,9,1,7,(),(),"(9, 13, 14)","[0, 1]",1,1.0,1.0
18,pieter,10,1,7,(),(),"(2, 1, 21)","[0, 1]",1,1.0,2.0
19,pier,6,1,7,(),(),"(7, 19, 17)","[0, 1]",1,1.0,2.0
20,pieter,8,1,7,"(12,)",(),"(3, 22, 1)",[1],0,1.0,2.0
21,maarten,6,1,6,(),(),"(3, 6, 17)","[0, 1]",0,0.0,1.0
22,sanne,7,-1,6,(),(),"(4, 8, 9)","[0, 1]",0,0.0,3.0
23,rinus,8,1,7,(),(),"(5, 8, 10)","[0, 1]",1,0.0,3.0
24,karla,4,-1,7,(),(),"(10, 11, 16)","[0, 1]",1,1.0,1.0
25,carla,5,-1,7,(),(),"(6, 7, 23)","[0, 1]",1,0.0,3.0
26,clara,6,-1,7,(),(),"(6, 7, 23)","[0, 1]",1,0.0,3.0
27,klara,7,-1,7,(),(),"(9, 11, 19)","[0, 1]",1,1.0,1.0

In [10]:
plan.assignment_check

True

In [11]:
k0 = plan.classes[0]
k1 = plan.classes[1]

In [12]:
k0.print_names()
k1.print_names()

pol
katrien
mo
tia
karl
siem
ahmed
pius
darius
marius
maria
maarten
sanne
rinus
carla
clara
luuk
pat
jos
mario
marie
peter
pieter
pier
pieter
karla
klara

In [13]:
k0.students

,name,score,gender,age,not_together,together,preferences,options,dna_assignment,final_assignment,pref_satisfied
number,,,,,,,,,,,
4,pol,7,1,7,"(1,)",(),"(5, 6, 7)",[0],1,0.0,3.0
5,katrien,6,-1,7,(),(),"(6, 7, 23)","[0, 1]",0,0.0,3.0
6,mo,5,1,6,"(3, 8)",(),"(12, 5, 25)",[],1,0.0,3.0
7,tia,6,-1,7,(),"(8,)","(8, 17, 23)",[0.0],0,0.0,2.0
8,karl,7,1,6,"(6,)","(7,)","(9, 27, 14)",[0],1,0.0,1.0
9,siem,8,1,6,(),(),"(10, 18, 19)","[0, 1]",1,0.0,1.0
10,ahmed,8,1,6,(),"(11,)","(12, 5, 25)",[0.0],1,0.0,3.0
11,pius,5,1,7,(),"(10,)","(2, 4, 6)",[0.0],1,0.0,2.0
12,darius,4,1,7,"(20,)",(),"(10, 18, 19)",[0],1,0.0,1.0
13,marius,6,1,7,(),(),"(5, 6, 7)","[0, 1]",0,0.0,3.0
15,maria,7,-1,7,(),(),"(5, 6, 7)","[0, 1]",0,0.0,3.0
21,maarten,6,1,6,(),(),"(3, 6, 17)","[0, 1]",0,0.0,1.0
22,sanne,7,-1,6,(),(),"(4, 8, 9)","[0, 1]",0,0.0,3.0
23,rinus,8,1,7,(),(),"(5, 8, 10)","[0, 1]",1,0.0,3.0
25,carla,5,-1,7,(),(),"(6, 7, 23)","[0, 1]",1,0.0,3.0
26,clara,6,-1,7,(),(),"(6, 7, 23)","[0, 1]",1,0.0,3.0

In [14]:
k1.students

,name,score,gender,age,not_together,together,preferences,options,dna_assignment,final_assignment,pref_satisfied
number,,,,,,,,,,,
1,luuk,10,1,6,"(4,)","(2,)","(3, 6, 17)",[1],1,1.0,2.0
2,pat,9,1,7,(),"(1,)","(5, 9, 27)",[1],0,1.0,1.0
3,jos,8,1,6,"(6,)",(),"(2, 1, 21)",[1],0,1.0,2.0
14,mario,9,1,8,(),(),"(1, 3, 5)","[0, 1]",1,1.0,2.0
16,marie,8,-1,7,(),(),"(3, 6, 17)","[0, 1]",1,1.0,2.0
17,peter,9,1,7,(),(),"(9, 13, 14)","[0, 1]",1,1.0,1.0
18,pieter,10,1,7,(),(),"(2, 1, 21)","[0, 1]",1,1.0,2.0
19,pier,6,1,7,(),(),"(7, 19, 17)","[0, 1]",1,1.0,2.0
20,pieter,8,1,7,"(12,)",(),"(3, 22, 1)",[1],0,1.0,2.0
24,karla,4,-1,7,(),(),"(10, 11, 16)","[0, 1]",1,1.0,1.0
27,klara,7,-1,7,(),(),"(9, 11, 19)","[0, 1]",1,1.0,1.0

In [15]:
len(k0.students)

16

In [16]:
plan.students.properties

['score',
 'gender',
 'age',
 'options',
 'dna_assignment',
 'final_assignment',
 'pref_satisfied']

In [19]:
print('Spread of mean(age) between classes', plan.spread_age)
print('Spread of mean(gender) between classes', plan.spread_gender)
print('Spread of mean(score) between classes', plan.spread_score)
print('Spread of size between classes', plan.spread_size)

Spread of mean(age) between classes 0.14204545454545459
Spread of mean(gender) between classes 0.10227272727272727
Spread of mean(score) between classes 0.84375
Spread of size between classes 2.5

In [20]:
print('mean(age) of classes', plan.classes_age)
print('mean(gender) of classes', plan.classes_gender)
print('mean(score) of classes', plan.classes_score)
print('size of classes', plan.classes_size)

mean(age) of classes [6.625, 6.909090909090909]
mean(gender) of classes [0.25, 0.45454545454545453]
mean(score) of classes [6.3125, 8.0]
size of classes [16, 11]